<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src= "//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type= "text/javascript" src='/static/js/ws.js'></script>

  <meta charset="UTF-8">
  <title>AFL Live Twitter Stream</title>
</head>
<body>
<div style="font-size:14pt; text-align: center">Will try to make this way better during the grand final. If it breaks refresh page (I probably pushed an awesome update)</div>

<div id="container" style="font-size: 10pt;"></div>
</body>
</html>